#logoVemSer{
    width: 72%;
}

#oi{
    opacity: 0.9;
}

#titleNav{
    font-size: 40px;
    line-height: 45px;
    color: black;

}

#tituloVS{
    font-size: 70px;
    line-height: 95px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps
}

#corPadrao{
    background: #5170e2;  /* fallback for old browsers */
    background: -moz-linear-gradient(-45deg,  #283c86 0%, #45a247 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #283c86, #45a247 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #283c86, #45a247 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;
}

#tt{
    padding-top: 15%;
}

#tt p {
    color: #fff;
}

#tt a{
    text-shadow: 0 0 5px black;
}

.paragraf{
    margin-top: 75px;
}

.test{
    color: #fff;
    font-family: Apple Chancery, cursive;
    font-size: 120px;
}




/* @media (min-width: 600px){

    #titleNav{
        font-size: 20px;
        line-height: 25px;
        padding-top: 15%;
    }
    

    .view{
        height: 70vh !important;
    }

}  */