#listreq{
    font-size: 2.6vh;
}

.imgRequeriments{
    border-radius: 80px;
}

@media (max-width: 415px){
    .smartphone{
        font-size: 25px;
        margin-bottom: -20px;
    }
    #listreq{
        font-size: 2.2vh;
    }
   
}