#text-comentarios{
    font-size: 30px;
    line-height: 35px;
}


#test{
    height: 500px;
}

.text-h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    color:#1D2825;
}

.hr{
    border-top: 1px dashed #1D2825;
    width: 90%;
    opacity: 0.5;
    margin-top: 70px;
}

.mt-6{
    margin-top: 90px;
}