#text-comentarios{
    font-size: 26px;
    line-height: 35px;
}

#test{
    height: 500px;
}

.hr{
    border-top: 1px dashed #1D2825;
    width: 100%;
    opacity: 0.5;
    margin-top: 70px;
}

.mt-6{
    margin-top: 90px;
}

@media (max-width: 415px){
    #test{
        height: 40vh;
    }
    #text-comentarios{
        font-size: 15px;
        line-height: 20px;
    }
    .mt-6{
        margin-top: 90px;
    }
    .smartphone{
        font-size: 25px;
        margin-bottom: -20px;
    }
   
}